:-moz-placeholder { color: rgba(255, 255, 255, 0.4); }
:-ms-input-placeholder { color: rgba(255, 255, 255, 0.4); } 
::-moz-placeholder { color: rgba(255, 255, 255, 0.4); }
::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.4); }


#landing {
	-moz-background-size: cover;
	-moz-box-shadow: 0 4px 20px 0 rgba(0,0,0,0.08),0px 1px 0 0 rgba(0,0,0,0.3);
	-o-background-size: cover;
	-webkit-background-size: cover;
	-webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08),0px 1px 0 0 rgba(0, 0, 0, 0.3);
	/*
	background-color: #2D2D2D;
	background-image: url(../images/splash-bg.jpg);
	*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: left;
	
	display: table;
	overflow: hidden;
	width: 100%;
}

.landing-container {
	display: table-cell;
	padding: 0 12px 100px 12px;
	position: relative;
	vertical-align: middle;
}


.hero-mb {
	padding-left: 15px;
	padding-right: 15px;
}
	.hero-mb h3 { color: rgba(255, 255, 255, 0.65); }

.hero-sd {
	text-decoration: none;
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin-left: -14px;
	height: 28px;
	width: 28px;
	font-size: 28px;
	color: #FFF;
	display: inline;
	z-index: 2;
}
	.hero-sd:hover {
		color: #FFF;
	}

.bg-powered-by,
.bg-integrated {
	background-color: #0C0C0C;
	color: rgba(255, 255, 255, 0.85);
	-webkit-border-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.1) 90%, rgba(0,0,0,0)) 100% 0;
	border-width: 1px 0;
	border-bottom: 0;
	margin-top: 0px;
	position: relative;
}

.bg-powered-by {
	z-index: 2;
	margin-top: -15px;
}


.powered-by {
	padding: 0px;
	padding-top: 15px;
}


.powered-by li {
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
	display: inline-block;
	float: none;
	margin: 0 5px;
	padding: 0;
	vertical-align: middle;
}

.powered-by:hover>li {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: .5;
}


.powered-by>li:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}


.powered-by img {
	display: block;
	width: 120px;
}


.proceed {
	position: relative;
}


.proceed:after {
	position: absolute;
	content: "\e65d";
	display: inline-block;
	font-family: 'icon';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	vertical-align: -5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	top: 25%;
	right: 0;
	font-size: 30px;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
	opacity: .75;
}


.proceed:hover:after {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}


.media-body small {
	font-size: 16px;
	line-height: 1.4;
}
 
 
#about {
	margin-top: 0;
	position: relative;
	z-index: 1; }


.animated {
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s; }
 
 
.appear { visibility: hidden; }
 
 
.authentication .l {
	-moz-opacity: 0;
	-webkit-opacity: 0;
	display: none;
	font-size: 11px;
	left: 14px;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	text-transform: uppercase;
	top: 7px;
	z-index: 1; }
 
 
.authentication button,
.authentication button:active {
	-moz-background-clip: padding;
	-moz-border-radius: 2px;
	-moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.07),inset 0 1px 0 0 rgba(255,255,255,0.14),0px 0 1px 0 rgba(0,0,0,0.05);
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.07),inset 0 1px 0 0 rgba(255,255,255,0.14),0px 0 1px 0 rgba(0,0,0,0.05);
	background-clip: padding-box;
	background-color: rgba(51, 156, 225, .75);
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,0.15);
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.07),inset 0 1px 0 0 rgba(255,255,255,0.14),0px 0 1px 0 rgba(0,0,0,0.05);
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 14px 10px 14px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
	text-transform: uppercase; }
 
 
.authentication button:active {
	position: relative;
	top: 1px; }
 
 
.authentication button:hover,
.authentication button:focus {
	-moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 1px 0 0 rgba(255,255,255,0.2),0px 1px 8px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 1px 0 0 rgba(255,255,255,0.2),0px 1px 8px 1px rgba(0,0,0,0.1);
	background-color: rgba(51, 156, 225, 1);
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2),inset 0 1px 0 0 rgba(255,255,255,0.2),0px 1px 8px 1px rgba(0,0,0,0.1); }
 
 
.authentication input {
	-moz-background-clip: padding;
	-moz-border-radius: 0;
	-moz-transition: border-color 150ms ease-in-out,-moz-box-shadow 150ms ease-in-out,top 150ms ease-in-out;
	-o-transition: border-color 150ms ease-in-out,box-shadow 150ms ease-in-out,top 150ms ease-in-out;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0;
	-webkit-transition: border-color 150ms ease-in-out,-webkit-box-shadow 150ms ease-in-out,top 150ms ease-in-out;
	background-clip: padding-box;
	border-radius: 0;
	display: inline-block;
	margin: 5px 0;
	outline: 0;
	position: relative;
	transition: border-color 150ms ease-in-out,box-shadow 150ms ease-in-out,top 150ms ease-in-out;
	width: 100%;
	z-index: 2; }
 
	.authentication input.text {
		-moz-box-shadow: inset 0 3px 3px -2px rgba(0,0,0,0.25),0px 0 0 1px rgba(255,255,255,0.12),0px 0 3px 0 rgba(255,255,255,0);
		-webkit-box-shadow: inset 0 3px 3px -2px rgba(0,0,0,0.25),0px 0 0 1px rgba(255,255,255,0.12),0px 0 3px 0 rgba(255,255,255,0);
		background-color: rgba(0,0,0,0.25);
		border: 1px solid rgba(0,0,0,0.5);
		box-shadow: inset 0 3px 3px -2px rgba(0,0,0,0.25),0px 0 0 1px rgba(255,255,255,0.12),0px 0 3px 0 rgba(255,255,255,0);
		color: #e9e9f5;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		padding: 14px 12px;
		position: relative; }
 
		.authentication input.text:focus {
			-moz-box-shadow: inset 0 3px 3px -2px rgba(0,0,0,0.2),0px 0 0 1px rgba(255,255,255,0.2),0px 0 10px 0 rgba(255,255,255,0.3);
			-webkit-box-shadow: inset 0 3px 3px -2px rgba(0,0,0,0.2),0px 0 0 1px rgba(255,255,255,0.2),0px 0 10px 0 rgba(255,255,255,0.3);
			background-color: rgba(0,0,0,0.32);
			box-shadow: inset 0 3px 3px -2px rgba(0,0,0,0.2),0px 0 0 1px rgba(255,255,255,0.2),0px 0 10px 0 rgba(255,255,255,0.3); }
 
 
.authentication-blurb {
	color: rgba(255, 255, 255, 0.65);
	font-size: 14px;
	margin-top: 10px; }
 
	.authentication-blurb a {
		border-bottom: 1px dotted rgba(255, 255, 255, 0.65);
		color: rgba(255, 255, 255, 0.65); }
 
		.authentication-blurb a:hover { color: #FFF; }
 
 
.b-5C3970 { border-color: #5c3970; }
 
 
.bg-5C3970 { background-color: #5c3970; }
 
 
.bg-black {
	background-color: #212121;
	color: rgba(255,255,255,0.7); }
 
 
.bg-dark {
	background-color: #151515;
	color: rgba(255,255,255,0.4); }
 
	.bg-dark a { color: rgba(255,255,255,0.4); }
 
 
.bg-splash {
	-moz-background-size: cover;
	-moz-box-shadow: 0 4px 20px 0 rgba(0,0,0,0.08),0px 1px 0 0 rgba(0,0,0,0.3);
	-o-background-size: cover;
	-webkit-background-size: cover;
	-webkit-box-shadow: 0 4px 20px 0 rgba(0,0,0,0.08),0px 1px 0 0 rgba(0,0,0,0.3);
	background-color: #2d2d2d;
	background-image: url(../images/splash-bg.jpg);
	background-position: 50% top;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,0.08),0px 1px 0 0 rgba(0,0,0,0.3);
	overflow: hidden;
	padding: 70px 0 0 0;
	position: relative;
	text-align: left; }
 
	.bg-splash * .text-white {
		color: #FFF!important;
		text-shadow: 0 1px 1px rgba(0,0,0,0.2); }
 
 
.bg-splash-a {
	-moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1),0px 1px 0 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1),0px 1px 0 0 rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.85);
	background-image: -moz-linear-gradient(left,rgba(23, 164, 187, 0.6),rgba(23, 82, 187, 0.6));
	background-image: -o-linear-gradient(left,rgba(23, 164, 187, 0.6),rgba(23, 82, 187, 0.6));
	background-image: -webkit-linear-gradient(left,rgba(23, 164, 187, 0.6),rgba(23, 82, 187, 0.6));
	background-image: linear-gradient(to right,rgba(23, 164, 187, 0.6),rgba(23, 82, 187, 0.6));
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1),0px 1px 0 0 rgba(0,0,0,0.1);
	color: rgba(255,255,255,0.9); }
 
	.bg-splash-a a { color: rgba(255,255,255,0.75); }
	
	.bg-splash-a .h4 a { border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
 
	.bg-splash-a .text-muted {
		color: rgba(255,255,255,0.7)!important;
		line-height: 1.3; }
 
 
.bg-splash-b {
	background-color: #38a2e7;
	background-image: -webkit-radial-gradient(50% top,rgba(23,123,187,0.6) 0,rgba(84,90,182,0) 75%),-webkit-radial-gradient(right top,rgba(23,96,187,0.8) 0,rgba(121,74,162,0) 57%);
	color: #aad7f4; }
 
 
.bg-splash-cover {
	position: relative;
	z-index: 2; }
	
	.bg-splash-cover .text-white {
		color: #FFF !important;
	}
 
 
.bg-splash-cover-alt {
	position: relative;
	z-index: 2; }
 
 
.bg-splash-overlay {
	background: rgba(0,0,0,0.35);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1; }
 
 
.bg-v {
	position: relative;
	z-index: 2; }
 
 
.bg-z {
	pointer-events: none;
	position: relative;
	z-index: 1; }
 
 
body {
	color: #888;
	letter-spacing: -0.005em; }
 
 
.btn-dark:hover,.btn-dark:focus,.btn-dark:active,.btn-dark.active,.open .dropdown-toggle.btn-dark {
	background-color: #479aeb;
	border-color: transparent; }
 
 
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
	background-color: #479aeb;
	border-color: transparent; }
 
 
.btn-signup {
	background-color: rgba(51, 156, 225, 1);
	color: rgba(255, 255, 255, 0.85)!important; }
 

.btn {
	-webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	-o-transition: background-color 200ms ease-out;
	-ms-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
}

button:focus { outline: 0; }
 
 
.carousel {
	position: relative;
	top: 7px; }
 
 
#content>div.bg-splash.dk.splash-v>div.container>div>div.col-sm-6.col-sm-pull-6>div>div>div>div>h1 { font-size: 46px; }
 
 
#content>div.bg-splash.dk.splash-v>div.container>div>p>span.h3.text-white.m-t-dl {
	display: block;
	line-height: 50px;
	padding-left: 0;
	padding: 10px; }
 
 
#content>div.bg-splash.dk.splash-x {
	padding-bottom: 5em;
	padding-top: 5em; }
 
 
.device {
	border-radius: 6px!important;
	box-shadow: -15px 15px 0 rgba(0,0,0,0.15); }
 
	.device.phone { border-radius: 15px!important; }
 
		.device.phone footer { border-radius: 0 0 14px 14px; }
 
		.device.phone header { border-radius: 14px 14px 0 0; }
 
	.device header { border-radius: 5px 5px 0 0; }
 
 
#features {
	-moz-background-size: contain;
	-o-background-size: contain;
	-webkit-background-size: contain;
	background-image: url(../images/bg.png);
	background-position: center;
	background-repeat: repeat;
	background-size: contain;
	padding-bottom: 3em;
	padding-top: 3em; }
 
	#features>div>section { box-shadow: none; }
 
		#features>div>section>table>thead>tr>th,#features>div>section>table>tbody>tr>td {
			background: transparent;
			border: 0 none; }
 
	#features>div>.screenies>div { text-align: center; }
 
 
#footer > div.bg-dark.wrapper.location {
	-moz-background-size: cover;
	-moz-transition: opacity linear 0.3s;
	-ms-transition: opacity linear 0.3s;
	-o-background-size: cover;
	-o-transition: opacity linear 0.3s;
	-webkit-background-size: cover;
	-webkit-transition: opacity linear 0.3s;
	background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=43.6519457,-79.3650784&scale=2&zoom=17&format=png&sensor=false&size=512x512&maptype=roadmap&visual_refresh=true&style=visibility:on%7Cinvert_lightness:true%7Csaturation:-100&style=feature:poi%7Cvisibility:simplified&style=feature:transit%7Cvisibility:simplified&style=feature:transit.station%7Cvisibility:on&markers=color:0x5f5cf6%7C341+King+St+E+Toronto,Ontario');
	background-position: 0 45%;
	background-repeat: no-repeat;
	background-size: cover;
	color: rgba(255, 255, 255, 0.8);
	position: relative;
	transition: opacity linear 0.3s; }
 
	#footer > div.bg-dark.wrapper.location a { color: #FFF; }
 
 
.h1 { font-size: 42px; }
 
 
img.hero-ss {
	bottom: 50px;
	display: block;
	height: auto;
	max-width: 100%;
	position: relative;
	width: 100%;
	z-index: 1; }
 
 
.legal {
	color: rgba(41, 41, 41, 0.8);
	font-size: 15px;
	line-height: 1.6; }
 
	.legal a {
		border-bottom: 1px dotted rgba(34, 34, 35, 0.3);
		color: #222223; }
 
	.legal ol { list-style: none; }
 
		.legal ol li {
			margin-bottom: 25px;
			margin-top: 10px; }
 
	.legal .h3 {
		color: #222223;
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 5px; }
 
	.legal .inf { color: rgba(41, 41, 41, 0.6); }
 
 
.location-overlay {
	background: rgba(0,0,0,0.8);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1; }
 
 
i.i.i-2x.text-white { color: rgba(255, 255, 255, 0.97); }

.ls-lg { letter-spacing: -0.04em; }
 
 
.navbar {
	-webkit-transition: padding ease-in-out .2s;
	border: 0;
	transition: padding ease-in-out .2s; }
 
	.navbar.affix-top {
		background: transparent;
		padding: 10px 0; }
 
		.navbar.affix-top .navbar-nav li a,
.navbar.affix .navbar-nav li a {
			color: #FFF;
			font-size: 14px;
			text-transform: uppercase; }
 
		.navbar.affix-top .navbar-nav>li>a:hover,
.navbar.affix .navbar-nav>li>a:hover { background: transparent; }
 
	.navbar.affix { background: rgba(0, 0, 0, 0.72); }
 
		.navbar.affix > div > div.navbar-header > a,
.navbar.affix-top > div > div.navbar-header > a {
			background-image: url(../images/logo-rt.png);
			background-position: center center;
			background-repeat: no-repeat;
			
			background-size: 90px 20px;
			width: 90px;
			height: 20px;
			/*
			background-size: 68px 17px;
			height: 17px;
			width: 68px;
			*/
			display: block;
			margin-left: 0;
			margin-right: 0;
			margin-top: 15px;
			padding: 0;
			 }
 
 
.navbar-fixed-top+section { padding-top: 0; }
 
 
.navbar-header .navbar-brand+.btn {
	color: #FFF;
	left: auto;
	right: 0;
	top: 0; }
 
 
.navbar-nav .dropdown-submenu .dropdown-menu {
	background-color: #f5f5f5;
	border: 0;
	left: 0;
	min-width: 220px;
	top: 100%; }
 
 
.navbar-nav>li>a { font-weight: 600; }
 
 
.o-6 { opacity: .5; }
 
 
.o-7 {
	margin-left: 5px;
	opacity: .3; }
 
 
.p-xl {
	padding-bottom: 30px;
	padding-top: 30px; }
 
 
#responsive {
	background-size: cover;
	padding-bottom: 5em;
	padding-top: 5em; }
 
	#responsive>div>div>div>div.col-sm-4.animated>section>ul>li.list-group-item.text-center.bg-light.lt,#responsive>div>div>div>div.col-sm-4.animated>section>ul>li { color: rgba(255,255,255,0.8); }
 
	#responsive>div>div>div>div.col-sm-4.animated>section>ul>li>div>.h1,#responsive>div>div>div>div.col-sm-4.animated>section>ul>li>.h1 { color: #FFF!important; }
 
	#responsive>div>div>div>div.col-sm-4.animated>section>header,#responsive>div>div>div>div.col-sm-4.animated>section,#responsive>div>div>div>div.col-sm-4.animated>section>ul>li.list-group-item.text-center.bg-light.lt,#responsive>div>div>div>div.col-sm-4.animated>section>ul>li,#responsive>div>div>div>div.col-sm-4.animated>section>footer {
		background: transparent;
		border: 0 none;
		box-shadow: none; }
 
 
.screenies img {
	display: block;
	height: auto;
	max-width: 100%; }
 
 
.splash-v {
	max-height: 600px;
	padding-top: 10em; }
 
 
.strong { font-weight: bold; }
 
 
.subtitle {
	color: rgba(255,255,255,0.75);
	font-size: 16px;
	line-height: 1.25; }
 
 
.t-u { text-transform: uppercase; }
 
 
.text-c { color: #394c7c; }
 
 
.text-danger { color: #d8225e; }
 
 
.text-l { color: rgba(23, 164, 187, 0.8); }
 
 
.text-r { color: rgba(23, 82, 187, 0.6); }
 
 
.title {
	color: #FFF;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 20px; }
 
 
.ui-screenshot {
	max-width: none;
	position: absolute;
	right: 30px;
	top: 0;
	z-index: 1; }
 
	.ui-screenshot.even {
		left: 30px;
		right: auto; }
 
 
.v-align { margin-left: 7px; }
 
.align-middle:before, 
.align-middle .align-block {
	display: inline-block;
	vertical-align: middle;
}
 
.align-middle:before {
	content: '';
	height: 100%;
}


@media (max-width:767px) {

	#landing {
		
	}

	.container>.navbar-header, 
	.container-fluid>.navbar-header, 
	.container>.navbar-collapse, 
	.container-fluid>.navbar-collapse {
		margin-right: -15px;
		margin-left: -15px;
		background: #151515;
		padding-bottom: 15px;
	}

	#footer > div.bg-dark.wrapper.location > div.container.text-center.m-t-lg.bg-v > div.row.m-t-xl.m-b-xl > div.col-sm-4.animated {
		margin-bottom: 20px;
	}

	#footer > div.bg-dark.wrapper.location > div.container.text-center.m-t-lg.bg-v > div.col-xs-6.col-xs-offset-3.m-t-xl.m-b-xl > div.col-sm-4.animated > h3 {
		margin-top: 15px;
		margin-bottom: 0;
	}

	#footer > div.bg-dark.wrapper.location > div.container.text-center.m-t-lg.bg-v > div.row.m-t-xl.m-b-xl > div.col-sm-4.animated > h3 {
		margin-top: 10px;
	}

	#header > div > div.navbar-collapse.collapse.in > ul > li:nth-child(6) {
		margin-left: 15px;
	}

	#content > div.bg-splash.dk.splash-v > div.container > div > div > div > div > h1 {
		font-size: 32px;
	}

	#content > div.bg-splash.dk.splash-v > div.container > div > div > h3 {
		font-size: 20px;
	}

	#content > div.bg-splash.dk.splash-v > div.container > div > p > span:nth-child(2) > small:nth-child(1) > a {
		margin-left: 0;
	}

	.navbar-fixed-top+section {
		padding-top: 0;
	}

	.navbar.affix-top {
		padding: 0;
	}

	.navbar-brand {
		float: none!important;
		margin-left: 15px !important;
	}

	.h1 {
		font-size: 20px;
	}

	.ui-screenshot {
		display: none;
	}

	#content>div.bg-splash.dk.splash-v>div.container>div>div.col-sm-6.col-sm-pull-6>div>div>div>div>h1 {
		font-size: 42px;
	}
	
	.navbar.affix > div > div.navbar-header > a,
	.navbar.affix-top > div > div.navbar-header > a {
		display: inline-block;
	}
	
	.navbar.affix-top > div > div.navbar-header > a {
		margin-left: 0 !important;
	}
	
	.proceed:after {
		display: none;
	}
	
}
