.content {
	color: #333;
	font-size: 16px;
	font-weight: 300;

	&.subpage {
		padding-top: 140px;
	}

	h1, h2, h3 {
		color: #222;
	}

	h2 {
		color: @brand-primary;
	}

	h1 {
		font-size: 42px;
		margin-bottom: 70px;
		padding-top: 25px;
	}

	p {
		font-size: 18px;
	}

	.pull-right {
		img {
			float: right;
		}

		margin-bottom: 50px;
	}

	.clearfix {
		border-bottom: 1px dashed #cfcfcf;
		margin-bottom: 28px;

		.pull-left {
			padding-bottom: 35px;
		}
	}
}

.next-page {
	padding: 20px 40px;
	color: white;
	font-size: 25px;

	h3 {
		font-weight: 300;
	}

	strong {
		font-weight: 700;
	}

	&.page2 {
		background-color: #e91e63;
	}

	a, a:visited, a:hover, a:focus, a:active,
	&.page3 a, &.page3 a:visited, &.page3 a:hover, &.page3 a:focus, &.page3 a:active {
		text-decoration: none;
		font-weight: 300;
		float: right;
		font-size: 24px;
		color: #333;
		background: none repeat scroll 0% 0% #FFF;
		padding: 18px;
		margin-top: -14px;
	}

	&.page3 {
		background-color: #9c27b0;
		text-align: left;
		margin: 35px 3px 10px;

		a, a:visited, a:hover, a:focus, a:active {
			margin-top: -32px;
		}
	}	
}


.showcase {
	
	img {
		width: 85%;
		margin-top: 20px;
	}
}