.content {
	color: #333;
	font-size: 18px;
	font-weight: 300;

	h1, h2, h3 {
		color: #222;
	}

	h1 {
		font-size: 40px;
		margin-bottom: 60px;
	}

	img {
		width: 85%;
		margin-top: 20px;
	}

	.pull-right {
		img {
			float: right;
		}

		margin-bottom: 50px;
	}

	.clearfix {
		border-bottom: 1px dashed #cfcfcf;
		margin-bottom: 28px;

		.pull-left {
			padding-bottom: 35px;
		}
	}
}