body.modal-open {
	height: 100%;
	overflow: hidden;

	.contact-toggle {
		-webkit-animation:  contact-hide 500ms linear;
		-moz-animation:  contact-hide 500ms linear;
		-o-animation:  contact-hide 500ms linear;
		animation: contact-hide 500ms linear;
		bottom: -4rem;
	}
}

.contact-toggle {
	font-weight: 600;
	font-size: 20px;
	position: fixed;
	right: 2rem;
	bottom: -5px;
	background-color: #E91E63;
	color: white;
	padding: 0.8rem 1.25rem;
	padding-bottom: ~"calc(0.8rem + 5px)";
	cursor: pointer;
	user-select: none;

	-webkit-border-top-left-radius: 16px;
	-webkit-border-top-right-radius: 16px;
	-moz-border-radius-topleft: 16px;
	-moz-border-radius-topright: 16px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;

	-webkit-animation:  contact-bounce 5s linear 7s 2;
	-moz-animation:  contact-bounce 5s linear 7s 2;
	-o-animation:  contact-bounce 5s linear 7s 2;
	animation: contact-bounce 5s linear 7s 2;

	-webkit-transition: bottom 200ms linear;
	-moz-transition: bottom 200ms linear;
	-ms-transition: bottom 200ms linear;
	-o-transition: bottom 200ms linear;
	transition: bottom 200ms linear;

	&:hover {
		-webkit-animation:  none;
		-moz-animation:  none;
		-o-animation:  none;
		animation: none;
		bottom: 0px;
	}
}

@keyframes contact-bounce {
	0%		{ bottom: -5px; }
	5%		{ bottom: 0px; }
	10%		{ bottom: -5px; }
	15%		{ bottom: 0px; }
	20%		{ bottom: -5px; }
	100%	{ bottom: -5px; }
}

@keyframes contact-hide {
	0%		{ bottom: -5px; }
	25%		{ bottom: 0px; }
	100%	{ bottom: -4rem; }
}

.contact-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: 5;

	&.open {
		display: block;
	}
}

.contact-modal-wrapper, .header-contact-modal-wrapper {
	margin: 10% auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: none;
	height: ~"calc(100% - 20%)";
	overflow-y: auto;

	&.open {
		display: block;
	}
}

.contact-modal, .header-contact-modal {
	margin: 0 auto;
	background-color: #fff;
	width: 66%;
	padding: 1rem 2rem;
	font-family: 'Roboto', sans-serif;

	.close {
		float: right;
		color: #aaa;
		padding: 1rem;
		position: relative;
		top: -1rem;
		left: 2rem;
		cursor: pointer;
	}
}