.contact-modal, .header-contact-modal {
    max-width: 800px;

    .nvkContent h3 {
        margin-top: -15px;
        margin-bottom: 15px;
    }

    ul {
        padding-left: 14px;
    }

    .nvkContent .block-outer .inner-sortable .block-inner {
        padding-top: 0;
    }
    
    .nvkContent .form-control {
        border-radius: 0;
    }

    .btn.btn-default {
        background-color: #E91E63;
        color: white;
        border-radius: 0;
        padding: 10px 19px;
        width: 100%;
        margin-bottom: 5px;
        border-color: #ce0046;
    }
}


@media (max-width: 768px) {
	.contact-modal-wrapper, .header-contact-modal-wrapper {
        height: 100%;
        margin: 0;

        .contact-modal, .header-contact-modal {
            width: 100%;
            height: 100%;
            padding: 0;
        }

        .contact-modal .close, .header-contact-modal .close {
            top: 0;
            left: 0;
        }

        .close {
            z-index: 100;
        }
    }

    .contact-modal, .header-contact-modal {
        .nvkContent h3 {
            margin-top: -37px;
            text-align: left !important;
            margin-left: -3px;
            margin-bottom: 5px;
        }
    }
}