
header {
	background: #333;
	line-height: 50px;

	.logo {
		background: url(../assets/images/logo-bb-wc.png);
		width: 98px;
		height: 40px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 98px 40px;
		margin-top: 4px;
	}

	.menu {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
			margin-left: 20px;

			a, a:visited, a:hover, a:focus, a:active {
				color: white;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 14px;
			}
		}
	}
}


.hero {
	text-align: center;
	width: 100%;

	> div {
		display: inline-block;
	}

	.animation {
		position: relative;
		margin-top: 100px;
		margin-bottom: 25px;

		.hexagon {
			background: url(../assets/images/hexagon.png);
			width: 130px;
			height: 150px;
		}

		.bubble {
			background: url(../assets/images/bubble.png);
			width: 130px;
			height: 150px;
			position: absolute;
			top: 0px;
			z-index: 10;
		}
	}
}