.page-index {
	.hero-video {
		p {
			font-size: 22px;
		}
	}

	a {
		text-decoration: none;

		i, p {
			color: #333;
		}
	}
}

.feature-overview {
	p {
		padding: 0 20px;
	}

	.fa-4x {
		margin-bottom: 10px;
	}

	h2 {
		font-size: 32px;
		margin-top: 70px;
		margin-bottom: 50px;
		color: #333;
	}

	h3 {
		font-size: 24px;
		margin-top: 20px;
		margin-bottom: 0px;
		color: @brand-primary;
	}
}

.companies-using-nodebb {
	h2 {
		font-size: 32px;
		margin-top: 70px;
		margin-bottom: 50px;
		color: #333;
	}

	.companies {
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 1rem;

		> div {
			margin: auto 2rem;
			padding: 1rem;
		}

		.flux-logo {
			font-size: 36px;
			font-weight: bold;
			white-space: nowrap;

			a {
				text-decoration: none;
			}

			span {
				padding-left: 0.5rem;
				color: #333;
			}

			span:last-child {
				padding-left: 0;
				font-size: 16px;
			}

			img {
				vertical-align: middle;
			}
		}

		.npp-logo {
			background-image: url("/assets/logos/npp.png");
			width: 180px;
			height: 120px;
			margin: auto 2rem;
			padding: 1rem;

			&:hover {
				background-position: 0 -153px;
			}
		}
	}
}

@media (min-width: 320px) {
	.companies-using-nodebb img {
		max-width: 200px;
	}
}