.integration-box {
	width: 100%;
	padding: 20px;
	
	color: #333;
	height: auto;

	font-size: 20px;

	img {
		max-width: 80%;
	}

	div p:first-child {
		margin-top: 0;
	}
}

.page-product-integrations {
	h2 {
		font-size: 22px;
		margin-top: -50px;
		margin-bottom: 40px;
	}
}