.page-product-integrations {
	h2 {
		font-size: 22px;
		margin-top: -50px;
		margin-bottom: 40px;
	}

	.integration-box {
		width: 100%;
		padding: 20px;
		
		color: #333;
		height: auto;

		font-size: 20px;

		img {
			max-width: 80%;
		}

		div p:first-child {
			margin-top: 0;
		}
	}

	.metro-box {
		color: white;
		text-align: center;

		> div {
			background: #333;
			padding: 20px;
			position: relative;
			display: inline-block;
			width: 19.5%;
			margin: 10px;
			text-align: left;

			i {
				position: absolute;
				right: 20px;
				top: 20px;
			}
		}
	}
}