@media (max-width: 1400px) {
	.navigation a {
		height: 115px !important;
		padding: 20px !important;
	}

	.pricing {
		.mobile-responsive h1 {
			margin-top: 150px;
		}
	}	
}

@media (max-width: 1200px) {
	.container, .container-fluid {
		max-width: 95%;
		padding-right: 2.5%;
		padding-left: 2.5%;
	}

	.navigation li a {
		height: 56px;
	}

	.next-page h3 a {
		display: block !important;
		float: none !important;
		margin-top: 20px !important;
		width: 250px !important;
	}

	.next-page br {
		display: none;
	}

	.tablet-hide {
		display: none !important;
	}
}

@media (max-width: 980px) {
	.pricing {
		padding-left: 0;
		padding-right: 0;

		.mobile-responsive h1 {
			margin-top: 50px;
		}

		.table {
			min-width: 1200px;
			transition: 0.3s all cubic-bezier(0.075, 0.820, 0.165, 0.8);
			-webkit-transition: 0.3s all cubic-bezier(0.075, 0.820, 0.165, 0.8);
		}

		ul {
			li.price {
				padding: 20px;
			}
		}

		.left-arrow, .right-arrow {
			position: absolute;
			cursor: pointer;
			z-index: 2;
			top: 500px;
			padding: 10px 15px 10px 10px;
			left: 8px;
			background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
			display: block;
		}

		.right-arrow {
			right: 8px;
			left: auto;
			padding: 10px 10px 10px 15px;
		}
	}
}



#mobile-menu, .slideout-menu {
	display: none;
}


@media (max-width: 768px) {
	#mobile-menu {
		display: inline-block;
	}

	.logo {
		width: 98px !important;
		height: 40px !important;
		background-size: 98px 40px !important;
	}

	header {
		height: 50px !important;

		.pull-left {
			position: absolute;
		}
	}

	.content {
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;

		.pull-right, .pull-left {
			clear: both;
			width: 100%;

			img {
				float: none;
				width: 100%;
			}
		}
	}

	header {
		.pull-left, .pull-right {
			width: 100%;
			> * {
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
		}

		&.offTop {
			height: 50px !important;
		}
		
		.container, .container-fluid {
			background: #333;
		}

		.menu li {
			margin-left: 0;
			margin-right: 10px;
		}
	}

	.hero {
		background: none;

		.intro {
			padding: 10px;
			background: white;
			color: #333;
			margin-top: -120px;
		}
	}

	.navigation {
		margin-bottom: 20px;
		display: inline-block;

		li {
			width: 100%;

			a {
				height: auto !important;
			}
		}
	}

	.next-page h3 a {
		width: auto !important;
	}

	.next-page {
		padding: 10px 25px;
		font-size: 20px;
	}

	.footer {
		.w33 {
			width: 100%;
			border-bottom: 1px dashed rgba(255,255,255,0.3);
			padding-bottom: 10px;
			margin-bottom: 21px;
		}
	}

	.navigation {
		margin-bottom: -135px;
	}

	.page-index {
		.navigation {
			display: none;
		}
	}



	#mobile-menu {
		width: 40px;
		background: none;
		border: none;
		vertical-align: 10%;
		margin-right: 10px;
		margin-left: -15px;
		outline: none !important;

		.bar {
			width: 100%;
			height: 3px;
			background: #ccc;
			margin-bottom: 5px;
			border-radius: 10px;
		}
	}

	#menu {
		background-color: #1D1F20;
		background-image: linear-gradient(145deg, #1D1F20, #404348);

		a {
			color: #fff;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	.menu-header-title {
		font-weight: 400;
		letter-spacing: 0.5px;
		margin: 0;
	}

	.menu-section {
		margin: 25px 0;
	}

	.menu-section-title {
		text-transform: uppercase;
		color: #85888d;
		font-weight: 200;
		font-size: 13px;
		letter-spacing: 1px;
		padding: 0 20px;
		margin:0;
	}

	.menu-section-list {
		padding:0;
		margin: 10px 0;
		list-style:none;

		a {
			display: block;
			padding: 10px 20px;
		}

		a:hover {
			background-color: rgba(255, 255, 255, 0.1);
			text-decoration: none;
		}
	}

	#panel {
		background: white;
	}


	.slideout-menu {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 0;
		width: 256px;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		display: none;
	}


	.slideout-panel {
		position: relative;
		z-index: 1;
	}

	.slideout-open,
	.slideout-open body,
	.slideout-open .slideout-panel {
		overflow: hidden;
		overflow-y: hidden !important;
	}

	.slideout-open .slideout-menu {
		display: block;
	}

	html {
		height: 100%;
		overflow-y: hidden;
	}
	
	.slideout-open {
		overflow-y: hidden;
		height: 100%;
	}

	body {
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.content.subpage {
		padding-top: 25px;
	}

	.page-product-modern-design .divided h2, .page-product-extensibility .divided h2 {
		margin-top: 0 !important;
	}
}