@media (max-width: 1200px) {
	.container {
		max-width: 95%;
		padding-right: 2.5%;
		padding-left: 2.5%;
	}

	.navigation li a {
		height: 56px;
	}

	.next-page h3 a {
		display: block !important;
		float: none !important;
		margin-top: 20px !important;
		width: 250px !important;
	}

	.next-page br {
		display: none;
	}

	.tablet-hide {
		display: none !important;
	}
}

@media (max-width: 768px) {
	.content {
		padding-left: 10px;
		padding-right: 10px;

		.pull-right, .pull-left {
			clear: both;
			width: 100%;

			img {
				float: none;
				width: 100%;
			}
		}
	}

	header {
		&.offTop {
			height: 50px;
			.container {
				box-shadow: 0px 1px 1px rgba(0,0,0,0.9);
			}

			.pull-left {
				position: absolute;
			}

			.logo {
				background-position: -65px;
			}
		}
		
		.container {
			background: #333;
		}

		.menu li {
			margin-left: 0;
			margin-right: 10px;
		}
	}

	.hero {
		background: none;

		.intro {
			padding: 10px;
			background: white;
			color: #333;
			margin-top: -120px;
		}
	}

	.navigation {
		margin-bottom: 20px;
		display: inline-block;

		li {
			width: 100%;

			a {
				height: auto !important;
			}
		}
	}

	.next-page h3 a {
		width: auto !important;
	}

	.next-page {
		padding: 10px 25px;
		font-size: 20px;
	}

	.pricing {
		padding-left: 0;
		padding-right: 0;
		overflow: hidden;

		.table {
			min-width: 1200px;
			transition: 0.3s all cubic-bezier(0.075, 0.820, 0.165, 0.8);
			-webkit-transition: 0.3s all cubic-bezier(0.075, 0.820, 0.165, 0.8);
		}

		ul {
			li.price {
				padding: 20px;
			}
		}
	}
}