.page-product-modern-design, .page-product-extensibility, .page-product-control-panel {
	h2 {
		max-width: 85%;
		text-align: center;
		display: inline-block;
	}
	
	.mobile-responsive {		
		h1 {
			color: #222;

			small {
				color: #777;
				font-size: 22px;
				line-height: 28px;
				display: inline-block;
				margin-top: 20px;
			}

			margin-bottom: 0px;
		}

		a {
			position: absolute;
			color: #333;
			bottom: 20px;
			right: 160px;
			text-decoration: none;
			font-size: 12px;
		}

		@media (max-width: 1200px) {
			a {
				right: 5%;
				bottom: 15px;
			}
		}

		img {
			margin-bottom: 30px;
			width: auto;
			max-width: 95%;
		}
	}

	.divided {
		img {
			width: auto;
			max-width: 95%;
			margin-top: 0;
		}

		h2 {
			margin-top: 20%;
		}

		p {
			font-size: 22px;
			line-height: 32px;
		}
	}

	.i-2x {
		font-size: 70px;
	}
}