.pricing {
	background: #333;
	color: white;
	margin-top: 40px;
	padding: 20px;
	text-align: center;
	padding-bottom: 55px;

	h1 {
		font-weight: 400;
	}

	h2 {
		font-weight: 300;
		font-size: 18px;
		margin-bottom: 35px;
	}

	a {
		color: white;
		font-weight: 500;
		text-decoration: none;
	}

	ul {
		list-style-type: none;
		margin: 0px;
		float: left;

		width: 19.5%;
		padding: 3px;

		&.first .package {
			background-color: #00bcd4;
		}

		&.second .package {
			background-color: #607d8b;
		}

		&.third .package {
			background-color: #9c27b0;
		}

		&.fourth .package {
			background-color: #03a9f4;
		}

		&.fifth .package {
			background-color: #e91e63;
		}

		li {
			padding: 1px;
			color: #333;
			padding: 20px;

			&:nth-child(odd) {
				background: #efefef;
			}

			&:nth-child(even) {
				background: white;
			}

			&.package {
				font-size: 18px;
				font-weight: 300;
				text-transform: uppercase;
				background: #333;
				padding: 20px;
				color: white;
			}

			&.price {
				padding: 50px;
				height: 25px;
				background: white;

				.dollar {
					
				}
				.number {
					font-size: 24px;
				}
				.duration {

				}
			}
		}
	}
}