@import "animations.less";
@import "utilities.less";
@import "header.less";
@import "content.less";
@import "pricing.less";
@import "footer.less";
@import "mobile.less";

body {
	font-family: "Lato", sans-serif;
}


h1, h2, h3, h4 {
	font-weight: 400;
}

.yt-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.yt-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 90%;
}