.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }

.w60 {
	width: 60%;
}

.w40 {
	width: 40%;
}

.w30 {
	width: 30%;
}
.w33 {
	width: 33%;
}
.w25 {
	width: 25%;
}
.w20 {
	width: 20%;
}

.text-center {
	text-align: center;
}

.text-left {
	display: inline-block;
	margin: 10px;
}